@using SCT.Application.Web.HtmlHelpers

@model SCT.Application.Web.Models.ProdutoViewModel

@foreach (var p in Model.Produtos)
{
    @Html.Partial("ProdutoDetalhes", p)
}
<div class="btn-group">
    @Html.PageLinks(Model.Paginacao, x => Url.Action("ListProdutos", new { pagina = x, Model.CategoriaAtual  }))
</div>